<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="#{email.greeting(${firstName})}"></p>
    <p th:text="#{email.instructions}"></p>
    <br/>
    <p>
      <strong th:text="#{email.requestId}"></strong>: <span th:text="${requestId}"></span>
    </p>
    <p>
      <strong th:text="#{email.authCode}"></strong>: <span th:text="${authToken}"></span>
    </p>
    <br/>
    <p th:text="#{email.regards}"></p>
  </body>
</html>
