<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{email.subject}">Activation Code</title>
  </head>
  <body>
    <p th:text="#{email.greeting(${firstName})}"></p>
    <p th:text="#{email.instructions}"></p>
    <p>
      <strong th:text="#{email.authCode}"></strong>: <span th:text="${authToken}"></span>
    </p>
    <br/>
    <p th:text="#{email.regards}"></p>    
    <p th:text="#{email.institutionTeam}"></p>    
  </body>
</html>